<section>
<div class="bg-secondary">
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="card p-4" style="width: 600px; height: 450px;">

  <h2 class="text-center mb-4 text-danger mt-5">Login</h2>
  <script>
    setTimeout(()=>{
{{#if ans}}
  <h5>{{title}}</h5>
  {{/if}}
    },2000)
  </script>
  
  <form action="/"id="login-form"  method="POST"class="mt-3">
        <div class="form-group pt-2" >
           {{!-- {{#if locals.invalid}}
    <h2 class="text-danger">Invalid email or password</h2>
    {{/if}} --}}
    {{#if locals.invalid}}
    <h2>successfully logined_out</h2>
    {{/if}}
          <label for="email" class="text-info">Email:</label>
          <input type="email" class="form-control " style="height: 50px;" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password" class="text-info">Password:</label>
          <input type="password" class="form-control" style="height: 50px;" id="password" name="password" required>
        </div>
      {{!-- <button type="submit"style="height: 40px;margin-top:20px" class="btn btn-danger btn-block form-control">Logout</button> --}}
        <button type="submit"style="height: 40px;margin-top:20px" class="btn btn-danger btn-block form-control">Login</button>
      </form>
      <br>
      <a href="/signup">SIGNUP</a>



    </div>
  </div>
  </div>
  </section>
  <body>
   